Linkedin posting new.json
{
  "name": "Linkedin posting new workflow 03/06/26",
  "nodes": [
    {
      "parameters": {
        "person": "YOUR_LINKEDIN_PERSON_ID_HERE",
        "text": "={{ $('Code in JavaScript1').first().json.linkedin_en }}\n\n\n\n{{ $('Code in JavaScript1').first().json.linkedin_ua }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2160,
        -64
      ],
      "id": "c8d1d737-bc66-4796-b3c2-a2e400ad941d",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "YOUR_WORKFLOW_ID_HERE",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "model": "=llama-3.3-70b-versatile",
        "options": {
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        944,
        112
      ],
      "id": "5cf0c321-11af-4475-91c5-6f382369a666",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Basic LLM Chain1').item.json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an Unsplash query generator for a marketing automation agency.\nReturn ONLY a valid JSON object. Nothing else.\n\nRules:\n- Query must be 3-5 words in English\n- NEVER use words: photography, photo, camera, render, people, person, team, man, woman, face, meeting\n- Always about: modern office space, desk setup, laptop closeup, technology, workspace, minimalist interior\n- POV / first-person angle preferred\n- Realistic, clean, modern aesthetic\n- Always about: modern office space, desk setup, laptop closeup, technology, workspace, minimalist interior, coffee shop work, notebook pen desk, business chart screen, phone on desk, keyboard closeup, monitor screen glow\n\nExample outputs:\n{\"unsplash_query\": \"modern minimalist office desk\"}\n{\"unsplash_query\": \"laptop screen analytics dashboard\"}\n{\"unsplash_query\": \"clean workspace coffee laptop\"}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        944,
        -64
      ],
      "id": "17f8c0a4-7f4e-48a0-b2e6-8767618390d4",
      "name": "Basic LLM Chain Pexels"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                3,
                5
              ],
              "triggerAtHour": 10,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        -64
      ],
      "id": "c7462d8d-f2a3-4ca4-a83f-2400669aa5ad",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -320,
        -64
      ],
      "id": "4b27f1bf-2a24-47c7-b964-961298c22908",
      "name": "RSS Read",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const sources = [\n  { url: \"https://techcrunch.com/feed/\", source: \"TechCrunch\", lang: \"en\" },\n  { url: \"https://www.theverge.com/rss/index.xml\", source: \"The Verge\", lang: \"en\" },\n  { url: \"https://www.wired.com/feed/rss\", source: \"Wired\", lang: \"en\" },\n  { url: \"https://blog.n8n.io/rss\", source: \"n8n Blog\", lang: \"en\" },\n  { url: \"https://venturebeat.com/feed/\", source: \"VentureBeat\", lang: \"en\" },\n  { url: \"https://blog.hubspot.com/marketing/rss.xml\", source: \"HubSpot\", lang: \"en\" },\n  { url: \"https://www.searchenginejournal.com/feed/\", source: \"Search Engine Journal\", lang: \"en\" },\n  { url: \"https://www.socialmediatoday.com/feeds/news/\", source: \"Social Media Today\", lang: \"en\" },\n  { url: \"https://blog.hootsuite.com/feed/\", source: \"Hootsuite\", lang: \"en\" },\n  { url: \"https://www.inc.com/rss/\", source: \"Inc Magazine\", lang: \"en\" },\n  { url: \"https://hbr.org/feed\", source: \"HBR\", lang: \"en\" },\n  { url: \"https://techcrunch.com/category/artificial-intelligence/feed/\", source: \"TechCrunch AI\", lang: \"en\" },\n  { url: \"https://zapier.com/blog/feeds/latest/\", source: \"Zapier Blog\", lang: \"en\" },\n  { url: \"https://www.marktechpost.com/feed/\", source: \"MarkTechPost\", lang: \"en\" },\n  { url: \"https://marketingtechnews.net/feed/\", source: \"MarketingTech News\", lang: \"en\" }\n];\nreturn sources.map(s => ({ json: s }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -64
      ],
      "id": "ed6e0c01-9513-410f-9132-514edf1eb478",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\nconst clean = text.replace(/```json\\n?|```/g, '').replace(/[\\u0000-\\u001F\\u007F]/g, ' ').trim();\ntry {\n  return [{ json: JSON.parse(clean) }];\n} catch(e) {\n  return [{ json: { error: e.message, raw: text } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -64
      ],
      "id": "ad951157-bd3f-4d01-b578-bb31759191f0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID_HERE",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_NAME_HERE",
          "cachedResultUrl": "YOUR_GOOGLE_SHEETS_URL_HERE"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_NAME_HERE",
          "cachedResultUrl": "YOUR_GOOGLE_SHEETS_URL_HERE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        -272
      ],
      "id": "e1060c01-db57-4036-a5f7-ca6f40124761",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "YOUR_TELEGRAM_CHAT_ID_HERE",
        "file": "={{ $json.photo_url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        -64
      ],
      "id": "a005266f-f5a1-4c95-99c5-1f8ce7837f2f",
      "name": "Send a photo message2",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc55c149-8542-4f04-b568-d40d669efed2",
              "name": "text",
              "value": "={{ JSON.parse($('Basic LLM Chain1').item.json.text.replace(/```json\\n?|```/g, '').trim()).linkedin_en }}\n",
              "type": "string"
            },
            {
              "id": "1c32edd6-aec1-498a-ae00-79a9bb525752",
              "name": "photo_url",
              "value": "={{ $input.item.json.photos[Math.floor(Math.random() * Math.min($input.item.json.photos.length, 10))].src.large }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        -64
      ],
      "id": "aac813f7-c0c1-443f-8c79-7ece3b9df86b",
      "name": "Edit Fields Linkedin UA&EN"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID_HERE",
        "text": "={{ $('Code in JavaScript1').first().json.linkedin_en }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        -64
      ],
      "id": "63e58052-a30f-45cb-bd05-aa9dbfa4577c",
      "name": "Send a text message1",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID_HERE",
        "text": "={{ $('Code in JavaScript1').first().json.linkedin_ua }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        -432
      ],
      "id": "7d05b38e-5cec-479f-95cc-b64ed86130ef",
      "name": "Send a text message2",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        288,
        -64
      ],
      "id": "e5ba1385-a6a6-43bb-8216-3e419d0e1951",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1888,
        -64
      ],
      "id": "60781174-c012-43cb-9334-224708f2f1c1",
      "name": "Wait",
      "webhookId": "YOUR_WEBHOOK_ID_HERE"
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/v1/search?query={{ JSON.parse($json.text).unsplash_query.replace(/ /g,'+') }}&per_page=15&page={{ Math.floor(Math.random()*3)+1 }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\"Authorization\": \"YOUR_PEXELS_API_KEY_HERE\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        -64
      ],
      "id": "6d13221c-05b7-4220-b89d-102f60f4647c",
      "name": "HTTP Request "
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields Linkedin UA&EN').first().json.photo_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2032,
        -64
      ],
      "id": "bd068864-a810-4719-b68d-13a069509e67",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "792011c7-cb3a-48e0-ad31-133dd0f304b3",
              "leftValue": "={{ $('Get row(s) in sheet').all().map(item => item.json.URL) }}",
              "rightValue": "={{ $json.link }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -144,
        -64
      ],
      "id": "744be432-2fbf-40df-a45f-7f341a27c121",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID_HERE",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_NAME_HERE",
          "cachedResultUrl": "YOUR_GOOGLE_SHEETS_URL_HERE"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_NAME_HERE",
          "cachedResultUrl": "YOUR_GOOGLE_SHEETS_URL_HERE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $json.link }}",
            "Title": "={{ $json.title }}",
            "Source": "={{ $json.link }}",
            "Published Date": "={{ $json.pubDate }}",
            "Status": "posted"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YOUR_CREDENTIAL_ID",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Fact",
              "displayName": "Key Fact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Published Date",
              "displayName": "Published Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        -272
      ],
      "id": "7978a8ec-323f-45c6-85c6-677b6a9faf95",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pubDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        144,
        -64
      ],
      "id": "e274fca0-a34c-4379-890a-f813d6975365",
      "name": "Sort"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "={{ $('Limit').item.json.contentSnippet || $('Limit').item.json.title }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Ти - практикуючий маркетолог з автоматизації бізнесу.\nЧитаєш будь-яку бізнес або наукову статтю і знаходиш\nв ній зв'язок з маркетингом, автоматизацією процесів\nта B2B продажами.\n\nТвій кут зору завжди: як ця інформація впливає на\nмаркетинг і автоматизацію бізнесу клієнтів.\n\nНавіть якщо стаття про ланцюги постачання — ти пишеш\nпро те як автоматизація маркетингу допомагає бізнесу\nадаптуватись до цих змін швидше за конкурентів.\n\nВХІДНІ ДАНІ:\nЗаголовок: {{ $('Limit').item.json.title }}\nТекст: {{ $('Limit').item.json.content || $('Limit').item.json.contentSnippet }}\nURL: {{ $('Limit').item.json.link }}\n\nЗАВДАННЯ: Створи 1 пост на основі цього матеріалу.\n\nВидай ТІЛЬКИ валідний JSON (без ```json, без пояснень):\n{\n  \"linkedin_en\": \"800-1200 chars. HOOK (first 140 chars — bold fact or number from article, no fluff). Then: → What this means for business → 3-5 DEEP insights that explain the WHY behind the data, not just what happened → Real-world implication for B2B marketing/automation → Strong question to audience. Dig into the core idea of the article. NO company promo. End with question. 3-5 hashtags #automation #B2Bmarketing\",\n  \n \n  \"image_keyword\": \"business professional strategy meeting\"\n}\n\nФОРМАТУВАННЯ — КРИТИЧНО:\n- Один \\n між абзацами БЕЗ порожніх рядків\n- Максимум 1 емодзі на весь пост тільки в гачку\n- Стрілки → замість буліт-поінтів\n- Пиши як людина яка реально розбирається в темі\n- БЕЗ кліше типу \"в сучасному світі\", \"як ніколи раніше\"\n- БЕЗ згадки Lagom Agency або будь-якої компанії\n- Факти зі статті позначай як факти\n- Власні висновки подавай як \"це означає що\" або \"для вашого бізнесу\" \n- Використовуй тільки короткий дефіс - а не довгий тире — або пунктир \n- НЕ включай URL або гіперпосилання в текст постів\n- Якщо згадуєш джерело - пиши тільки назву (наприклад: \"за даними HubSpot\" а не посилання)"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        464,
        -64
      ],
      "id": "ee6f417b-4371-449d-bb60-1c30398ada8f",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_NAME_HERE"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        528,
        144
      ],
      "id": "996924a4-0465-4dff-becb-e2e650aeddca",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sheetTitles = $('Get row(s) in sheet').all()\n  .map(item => item.json.Title ? item.json.Title.substring(0, 30).toLowerCase().trim() : '');\n\nconst twoDaysAgo = Date.now() - (2 * 24 * 60 * 60 * 1000);\n\nreturn $input.all().filter(item => {\n  const title = item.json.title ? item.json.title.substring(0, 30).toLowerCase().trim() : '';\n  const isDuplicate = sheetTitles.some(t => t && title && t === title);\n  const pubDate = item.json.pubDate || item.json['Published Date'] || item.json.isoDate || null;\n  const isRecent = pubDate ? new Date(pubDate).getTime() > twoDaysAgo : true;\n  return !isDuplicate && isRecent;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -64
      ],
      "id": "8e126a28-06f7-4da0-b124-69796e71c45b",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain Pexels",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain Pexels": {
      "main": [
        [
          {
            "node": "HTTP Request ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain Pexels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        []
      ]
    },
    "Send a photo message2": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Linkedin UA&EN": {
      "main": [
        [
          {
            "node": "Send a photo message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request ": {
      "main": [
        [
          {
            "node": "Edit Fields Linkedin UA&EN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Kyiv",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID_HERE",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID_HERE"
  },
  "id": "YOUR_CREDENTIAL_ID",
  "tags": []
}